##
## Configuration file for ozsrvutils
##

# Location of variable state info (email, domain etc credentials)
cfgVarStateDir=/var/lib/ozsrvutils

# MySQL credentials used to create/drop databases/users
cfgMysqlHost=localhost
cfgMysqlUser=root
cfgMysqlPass=

# MySQL hostname to grant access to for the users
cfgMysqlGrantHost=localhost
cfgMysqlGrantPrivs="ALTER,CREATE,CREATE VIEW,DELETE,DROP,INDEX,INSERT,LOCK TABLES,SELECT,UPDATE"

## Backup of domains, emails and some system files using "duplicity"; please
## see http://www.nongnu.org/duplicity/ for details on what it supports.

# Backup destination
cfgBackupDest=

# Time To Live (TTL), how long backups shall be kept for
cfgBackupTtl=6M

# GPG key to use for signing & encryption, and its passphrase
cfgBackupPassphrase=
cfgBackupGpgKey=

# Amazon S3 specific backup configuration
cfgBackupS3Key=
cfgBackupS3SecretKey=
cfgBackupS3European=false
cfgBackupS3NewStyle=true

# Additional "duplicity" arguments to use (please use a Bash array!)
cfgBackupDuplicityArgs=()