##
## General ozsrvutils configuration
##

# Location of variable state info (email, domain etc credentials)
cfgVarStateDir=/var/lib/ozsrvutils

##
## Set various values used when creating or configuring users, such as those users
## created from the "domain" action. If any of these values are left blank then
## we shall attempt to use the same values in /etc/adduser.conf if readable.
##

# Home directory and mode ("cfgUsersHomeDir" gets appended with "/username")
#cfgUsersHomeDir=/home
#cfgUsersHomeDirMode=0750

# Shell
#cfgUsersShell=/bin/bash

##
## MySQL credentials used to create/drop databases/users
##
cfgMysqlHost=localhost
cfgMysqlUser=root
cfgMysqlPass=

# MySQL hostname to grant access to for the users
cfgMysqlGrantHost=localhost
cfgMysqlGrantPrivs="ALTER,CREATE,CREATE VIEW,DELETE,DROP,INDEX,INSERT,LOCK TABLES,SELECT,UPDATE"

##
## Backup of domains, emails and some system files using "duplicity"; please
## see http://www.nongnu.org/duplicity/ for details on what it supports.
##

# Backup destination
cfgBackupDest=

# Time To Live (TTL), how long backups shall be kept for
cfgBackupTtl=6M

# Do a new full backup after this interval of time
cfgBackupFullInterval=1M

# GPG key to use for signing & encryption, and its passphrase
cfgBackupPassphrase=
cfgBackupGpgKey=

# Amazon S3 specific backup configuration
cfgBackupS3Key=
cfgBackupS3SecretKey=
cfgBackupS3European=false
cfgBackupS3NewStyle=true

# Additional "duplicity" arguments to use (please use a Bash array!)
cfgBackupDuplicityArgs=()

##
## LDAP configuration. If enabled then actions that manipulate users and groups
## (such as the "domain" action) will do so using LDAP instead of on the local
## system.
##
cfgLdapEnable=false

cfgLdapUri=ldap://localhost
cfgLdapBindDn="cn=admin,dc=example,dc=com"
cfgLdapBindDnPwdFile=$configPath/ldap.secret

cfgLdapSuffix="dc=example,dc=com"
cfgLdapGroupSuffix="ou=Groups"
cfgLdapUserSuffix="ou=Users"

cfgLdapFirstUid=10000
cfgLdapFirstGid=10000
